.Navigation
  h2 Components
  ul
    li: a(href="#{path}components/alert.html") Alert
    li: a(href="#{path}components/breadcrumbs.html") Breadcrumbs
    li: a(href="#{path}components/button.html") Buttons
    li: a(href="#{path}components/color.html") Color
    li: a(href="#{path}components/dropdownMenu.html") DropDownMenu
    li: a(href="#{path}components/grid.html") Grid
    li: a(href="#{path}components/icons.html") Icons
    li: a(href="#{path}components/modal.html") Modal
    li: a(href="#{path}components/pagination.html") Pagination
    li: a(href="#{path}components/switches.html") Switches
    li: a(href="#{path}components/tabs.html") Tabs
    li: a(href="#{path}components/table.html") Table
    li: a(href="#{path}components/textfields.html") TextFields
  h2 Mixins
  ul
    li: a(href="#{path}mixins/border.html") Border
    li: a(href="#{path}mixins/box-shadow.html") Box Shadow
    li: a(href="#{path}mixins/button.html") Button
    li: a(href="#{path}mixins/clearfix.html") Clearfix
    li: a(href="#{path}mixins/media-query.html") Media Query
    li: a(href="#{path}mixins/opacity.html") Opacity
    li: a(href="#{path}mixins/position.html") Position
    li: a(href="#{path}mixins/size.html") Size
    li: a(href="#{path}mixins/typography.html") Typography
