.Navigation
  h2 Components
  ul
    li: a(href="#{path}styles/alert.html") Alert
    li: a(href="#{path}styles/breadcrumbs.html") Breadcrumbs
    li: a(href="#{path}styles/button.html") Buttons
    li: a(href="#{path}styles/color.html") Color
    li: a(href="#{path}styles/dropdownMenu.html") DropDownMenu
    li: a(href="#{path}styles/grid.html") Grid
    li: a(href="#{path}styles/icons.html") Icons
    li: a(href="#{path}styles/modal.html") Modal
    li: a(href="#{path}styles/pagination.html") Pagination
    li: a(href="#{path}styles/switches.html") Switches
    li: a(href="#{path}styles/tabs.html") Tabs
    li: a(href="#{path}styles/table.html") Table
    li: a(href="#{path}styles/textfields.html") TextFields
